extend ../layout.pug
block variables
  - title = "直播技術"
block head
  link(rel="stylesheet" href="/assets/css/livestream.css?version="+timestamp)
block body
  .bg-dark.bg-box
    .text-light.bg-dark-transparent
      .container.p-5.text-center
        h1= title
        p.
          我們擁有豐富的直播經驗，涵蓋活動、講座以及線上會議等多樣形式，並配備最先進的直播設備。我們的服務範圍從基礎的直播到全面的服務規劃，確保客戶能夠根據自身需求選擇最適合的方案。我們致力於為您打造卓越的直播體驗，以專業和可靠的技術支持，讓您的每一場直播都能夠精彩呈現。
    .container
      #carousel.carousel.slide.carousel-fade(data-ride='carousel')
        p ※以下皆為直播畫面擷取
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='/assets/img/livestream/1.jpg')
            .carousel-caption.d-block
              h5 2021思辨之夜-後疫情時代生活指南
          .carousel-item
            img.d-block.w-100(src='/assets/img/livestream/2.jpg')
            .carousel-caption.d-block
              h5 2021思辨之夜-後疫情時代生活指南
          .carousel-item
            img.d-block.w-100(src='/assets/img/livestream/3.jpg')
            .carousel-caption.d-block
              h5 想像中的國度：臺灣與拉丁美洲的交往
          .carousel-item
            img.d-block.w-100(src='/assets/img/livestream/4.jpg')
            .carousel-caption.d-block
              h5 好菜上桌-田調X策展培力講座
          .carousel-item
            img.d-block.w-100(src='/assets/img/livestream/5.jpg')
            .carousel-caption.d-block
              h5 竹圍工作室秋季開放日─藝術家座談
          .carousel-item
            img.d-block.w-100(src='/assets/img/livestream/6.jpg')
            .carousel-caption.d-block
              h5 「求你政經點」：不是政論節目，是台泰越藝術生態交流論
        button.carousel-control-prev(type='button' data-bs-target='#carousel' data-bs-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#carousel' data-bs-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.visually-hidden Next
      table.table.table-striped.table-dark.m-0
        thead
          tr
            th(scope="col") 
            th(scope="col") 說明
            th(scope="col") 價格
            th(scope="col") 時間
        tbody
          tr
            th(scope="row") 講座直播
            td 1導播、1固定鏡位、投影畫面擷取、現場音訊擷取
            td 8,000元
            td 4小時(內)
          tr
            th(scope="row") 活動直播
            td 1導播、2固定鏡位、投影畫面擷取、現場音訊擷取
            td 12,000元
            td 4小時(內)
          tr
            th(scope="row") 線上會議直播
            td 1導播、線上會議畫面擷取、現場音訊擷取
            td 10,000元
            td 4小時(內)
          tr
            th(scope="row") 線上+現場會議直播
            td 1導播、1固定鏡位、線上會議畫面擷取、現場音訊擷取
            td 16,000元
            td 4小時(內)
          tr
            th(scope="row") 更多服務
            td(colspan="3") 流程規劃、額外時數等請聯絡洽詢
      .bg-dark-transparent.p-4
        p ※以上服務均提供直播畫面錄影，於活動結束後提供一完整錄影檔
        p ※出班人數依規模而定，基本為2人
        p ※實際報價依當下聯絡為準

