#head {
  overflow: hidden;
  height: 100vh;
}

#canvas, #canvas2 {
  z-index: -999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}
#canvasWave {
  z-index: -99;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#about {
  height: 50vh;
  background-image: url("/assets/img/Network.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
#about .row {
  background-color: #000A;
}

#works {
  background-image: url("/assets/img/Waves.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}
#works .work-block {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #666;
  transition: .3s;
}
#works .work-block:hover {
  background-color: rgba(0,0,0,1);
  border: 1px solid #AAA;
}
#works .work-block .img-block {
  background-position: center;
  background-size: cover;
  height: 0;
  width: 0;
  padding-top: 100%;
  padding-left: 100%;
  transition: .3s;
  filter: grayscale(100%);
}
#works .work-block:hover .img-block {
  filter: grayscale(0%);
}
#works .work-block p {
  margin: 1em;
  transition: .3s;
}
#works .work-block:hover a {
  text-decoration: none;
}
#works .work-block a:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  #works .work-block .img-block {
    filter: grayscale(0%);
  }
}
