#head {
  overflow: hidden;
  height: 100vh;
}

#canvas, #canvas2 {
  z-index: -999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

#canvasWave {
  z-index: -99;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#about {
  background-image: url("/assets/img/Network.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFF;
}
#about .row {
  background-color: #000A;
  min-height: 10em;
}
#about .row .service-block {
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
  font-size: 2em;
  height: 4em;
  line-height: 4em;
  border: 1px solid white;
  opacity: 0.6;
  color: #FFF;
  transition: 0.3s;
  margin-bottom: 0.5em;
}
#about .row .service-block:hover {
  opacity: 1;
  background-size: 105%;
}
#about .row a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  #about .row .service-block {
    opacity: 1;
  }
}