- _home = true
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include header.pug
  title 位元創意 - 資訊整合、直播技術、展場設計、演出裝置設計
  link(rel="stylesheet" href="/assets/css/base.css")
  link(rel="stylesheet" href="/assets/css/index.css")
  body(data-spy="scroll" data-target=".navbar" data-offset="100")
    include nav.pug
    //canvas#canvas Canvas is not supported in your browser.
    //canvas#canvas2 Canvas is not supported in your browser.
    .container#head
      .row.h-100.align-items-center.justify-content-center
        .col-10.col-lg-6.text-center.mb-4
          video( autoplay muted loop src="/assets/logo_anim.mp4" style="width: 100%;")
          //h4 a bit of creative, create bytes of life
    
    .container-fluid#about
      .row.align-items-center.justify-content-center
        .col-md-8
          .p-4.m-0.text-center 
            h4.m-4 A bit of creativity, create bytes of memory.
            p.m-2
              | 「位元創意」前身為專注於led道具開發之工作室「光軌創曳」，不斷在藝術、設計與電機、資訊領域間找尋平衡，有豐富的藝創合作經驗，
              | 主要業務為資訊整合、直播技術、展場及演出裝置設計開發等

      .row.align-items-center.justify-content-center
        .col-md-4.text-center.p-2
          a(href="creative")
            .service-block(style="background-image: url(/assets/img/creative/longci.jpg)"): b 藝創合作
        .col-md-4.text-center.p-2
          a(href="livestream")
            .service-block(style="background-image: url(/assets/img/livestream/1.jpg)"): b 直播技術
          
    include footer.pug
    //script(src="/assets/js/matrix.js")
