nav#navbar.navbar.navbar-expand-md.navbar-dark.bg-dark.sticky-top
  a.navbar-brand(href="/") 位元創意
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    mixin navli(_href, _title)
      li.nav-item
        a.nav-link(href=_href)= _title
    ul.navbar-nav.ml-auto
      +navli("#about", "about us")
      +navli("#works", "our works")
      +navli("#footer", "contacts")
